body {
	padding: 10;
	margin: 0;
	margin-bottom: 40px;
}

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.image {
	text-align: center;
}

img {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 80%;
}

.desc {
	margin-top: 10px;
	margin-bottom: 40px;
	font-style: italic;
}
